/*********** Dialogs * */
messagedialog .titlebar { min-height: 20px; background-image: none; background-color: #353535; border-style: none; border-top-left-radius: 7px; border-top-right-radius: 7px; }

messagedialog.csd.background { border-bottom-left-radius: 9px; border-bottom-right-radius: 9px; }

messagedialog.csd .dialog-action-area button { padding: 10px 14px; border-right-style: none; border-bottom-style: none; border-radius: 0; -gtk-outline-radius: 0; }

messagedialog.csd .dialog-action-area button:first-child { border-left-style: none; border-bottom-left-radius: 7px; -gtk-outline-bottom-left-radius: 7px; }

messagedialog.csd .dialog-action-area button:last-child { border-bottom-right-radius: 7px; -gtk-outline-bottom-right-radius: 7px; }

filechooser .dialog-action-box { border-top: 1px solid #1b1b1b; }

filechooser .dialog-action-box:backdrop { border-top-color: #202020; }

filechooser #pathbarbox { border-bottom: 1px solid #353535; }

filechooserbutton:drop(active) { box-shadow: none; border-color: transparent; }

