/************** Tree Views * */
treeview.view { border-left-color: #8e8e8d; border-top-color: #353535; }

* { -GtkTreeView-horizontal-separator: 4; -GtkTreeView-grid-line-width: 1; -GtkTreeView-grid-line-pattern: ''; -GtkTreeView-tree-line-width: 1; -GtkTreeView-tree-line-pattern: ''; -GtkTreeView-expander-size: 16; }

treeview.view:selected:focus, treeview.view:selected { border-radius: 0; }

treeview.view:selected:backdrop, treeview.view:selected { border-left-color: #8aa9ce; border-top-color: rgba(238, 238, 236, 0.1); }

treeview.view:disabled { color: #919190; }

treeview.view:disabled:selected { color: #7398c5; }

treeview.view:disabled:selected:backdrop { color: #4f7aaf; }

treeview.view:disabled:backdrop { color: #5b5b5b; }

treeview.view.separator { min-height: 2px; color: #353535; }

treeview.view.separator:backdrop { color: rgba(53, 53, 53, 0.1); }

treeview.view:backdrop { border-left-color: #636362; border-top: #353535; }

treeview.view:drop(active) { border-style: solid none; border-width: 1px; border-color: #030c17; }

treeview.view:drop(active).after { border-top-style: none; }

treeview.view:drop(active).before { border-bottom-style: none; }

treeview.view.expander { -gtk-icon-source: -gtk-icontheme("pan-end-symbolic"); color: silver; }

treeview.view.expander:dir(rtl) { -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl"); }

treeview.view.expander:hover { color: white; }

treeview.view.expander:selected { color: #b9cbe2; }

treeview.view.expander:selected:hover { color: #ffffff; }

treeview.view.expander:selected:backdrop { color: #9cafc5; }

treeview.view.expander:checked { -gtk-icon-source: -gtk-icontheme("pan-down-symbolic"); }

treeview.view.expander:backdrop { color: #747473; }

treeview.view.progressbar { background-color: #15539e; background-image: image(#15539e); box-shadow: none; }

treeview.view.progressbar:selected:focus, treeview.view.progressbar:selected { box-shadow: inset 0 1px rgba(255, 255, 255, 0.05); background-image: image(#2d2d2d); }

treeview.view.progressbar:selected:focus:backdrop, treeview.view.progressbar:selected:backdrop { background-color: #303030; }

treeview.view.progressbar:backdrop { border-color: #303030; background-image: none; box-shadow: none; }

treeview.view.trough { background-color: rgba(238, 238, 236, 0.1); }

treeview.view.trough:selected:focus, treeview.view.trough:selected { background-color: #0f3b71; }

treeview.view header button { color: #8e8e8d; background-color: #2d2d2d; font-weight: bold; text-shadow: none; box-shadow: none; }

treeview.view header button:hover { color: #bebebd; box-shadow: none; transition: none; }

treeview.view header button:active { color: #eeeeec; transition: none; }

treeview.view button.dnd:active, treeview.view button.dnd:selected, treeview.view button.dnd:hover, treeview.view button.dnd, treeview.view header.button.dnd:active, treeview.view header.button.dnd:selected, treeview.view header.button.dnd:hover, treeview.view header.button.dnd { padding: 0 6px; color: #2d2d2d; background-image: none; background-color: #15539e; border-style: none; border-radius: 0; box-shadow: inset 0 0 0 1px #2d2d2d; text-shadow: none; transition: none; }

treeview.view acceleditor > label { background-color: #15539e; }

treeview.view header button, treeview.view header button:hover, treeview.view header button:active { padding: 0 6px; background-image: none; border-style: none solid solid none; border-color: #545453; border-radius: 0; text-shadow: none; }

treeview.view header button:disabled { border-color: #353535; background-image: none; }

treeview.view header button:backdrop { color: #636362; border-color: #353535; border-style: none solid solid none; background-image: none; background-color: #303030; }

treeview.view header button:backdrop:disabled { border-color: #353535; background-image: none; }

treeview.view header button:last-child { border-right-style: none; }

